# Firebase settings (REQUIRED)
FIREBASE_API_KEY=AIzaSyBEf4W67vj28e-TGAHIFmKvjyYr1GrfTeY
FIREBASE_AUTH_DOMAIN=kpitracker-8e8dc.firebaseapp.com
FIREBASE_DATABASE_URL=https://kpitracker-8e8dc-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_PROJECT_ID=kpitracker-8e8dc
FIREBASE_STORAGE_BUCKET=kpitracker-8e8dc.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=153764176296
FIREBASE_APP_ID=1:153764176296:web:047841097ab10244907d9d
FIREBASE_MEASUREMENT_ID=G-5Q5SXJS9QV
SERVICE_ACCOUNT_KEY_PATH=serviceAccountKey.json

# Firestore collections
USERDATA_COLLECTION=userData
USERAUTH_COLLECTION=userAuth
USER_COUNTER_COLLECTION=systemCounters
USER_COUNTER_DOC=userIdCounter
EMAIL_VERIFICATION_COLLECTION=emailVerifications

# Email verification
VERIFICATION_CODE_TTL_SECONDS=600

# SMTP settings (REQUIRED for email verification to work)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=zengyiham@gmail.com
SMTP_PASSWORD=cafi nrhr ayzg ksow
SMTP_FROM=zengyiham@gmail.com
SMTP_USE_TLS=true
